@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="stripe stripe-style-1" style="background-color: rgb(242, 243, 243); background-image: url(&quot;https://webtonic.co.za/wp-content/uploads/2018/07/bg3.jpg&quot;); background-position: center top; background-repeat: repeat; background-attachment: scroll; background-size: auto; padding-top: 60px; padding-bottom: 60px; margin-top: -50px; margin-bottom: 0px; min-height: 500px;">
    <div class="vc_row wpb_row vc_row-fluid" style="">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper" style="padding-top:70px">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h1 style="text-align: center;"><span style="color: #ff9900;">CSV Uploader</span></h1>
                        </div>
                    </div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <div class="container">
                                <h5 style="text-align: center; color: white;">
                                    Are you tired of losing your local csv files when an event like system crash happens,and you have to reinstall your OS which causes the lose of all files?
                                    Our CSV Uploader helps to never worry about those events anymore,you can upload your csv files to our cloud hosted databases and download them when ever you want to.
                                </h5>
                                <br/>
                                <div style="text-align:center">
                                    <p><a asp-page="/csvuploader" style="background-color:#ff9900;border-color:#ff9900;" class="btn btn-danger"><span>GET STARTED</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

